/*----------- font -----------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*--------- base style ---------*/
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    justify-content: center;
}
/*-------- top-players style-------- */
.section-title{
    color: #562EFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    margin-top: 3px;
}
.top-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    padding-bottom: 21px;
}
hr{
    border: 1px solid #D1D1D1;
}
.container{
    background-color: #fff;
    width: 870px;
    padding: 30px;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 15px;
    font-size: 18px;
}
.player{
    display: flex;
    align-items: center;
}

/*------------- top blog styles ---------------*/
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.details{
    margin-left: 15px;
}
.details .blog-title{
    font-size: 20px;
    color: #000;
}
.details .author-name{
    color: #9F9F9F;
    font-size: 16px;
    font-weight: 400;
}
.author-name a{
    color: #562EFF;
    font-size: 16px;
    text-decoration: none;
}