/*----------- font -----------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*--------- base style ---------*/
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*-------- top-players style-------- */
.section-title{
    color: #562EFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    margin-top: 3px;
}
.top-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    padding-bottom: 21px;
}
hr{
    border: 1px solid #D1D1D1;
}
.container{
    background-color: #fff;
    width: 870px;
    padding: 30px;
    margin-top: 20px;
    border-radius: 5px;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 15px;
    font-size: 18px;
}
.player{
    display: flex;
    align-items: center;
}

/*------------- top blog styles ---------------*/
.top-blog-section{
    margin-top: 30px;
}

.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 40px;
}

.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.details{
    margin-left: 15px;
}
.details .blog-title{
    font-size: 20px;
    color: #000;
    margin-top: 0;
}
.details .author-name{
    color: #9F9F9F;
    font-size: 16px;
    font-weight: 400;
}
.author-name a{
    color: #562EFF;
    font-size: 16px;
    text-decoration: none;
}

/*------------- courses style start -------------*/
.all-courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
}
.single-course{
    box-shadow: 0 0 10px lightgray;
    padding: 20px;
    border-radius: 10px;
}
.single-course .course-thumbnail img{
    width: 100%;
}
.course-title{
    color: black;
    font-weight: 500;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.author-name{
    color: #ED6B4F;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}
.course-rating-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.rate{
    display: flex;
    align-items: center;
}
.rating-point{
    margin-left: 10px;
}
.fa-star{
    font-size: 12px;
    margin-right: 2px;
}
.fa-star.full{
    color: #FFC014;
}
.fa-star.empty{
    color: lightgray;
}
.course-duration{
    background-color: lightgreen;
    padding: 5px 15px;
    border-radius: 50px;
}

/*---------------- media quari ----------------*/
/*-----------------
   mobile devices
 -----------------*/
@media screen and (max-width: 688px) {
    .container{
        width: 100%;
    }
    .top-players, .blogs, .all-courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .blog{
        flex-direction: column;
    }
    .all-courses{
        margin: 30px;
    }
    .single-course{
        margin-top: 20px;
    }
}
